 	<!-- header -->
 	<header class="header">
 		<div class="nav">
 			
 		</div>
 	</header>
 	
 <md-card class="main-container">
 	<md-card-content>
 	
	
	<div class="track-container">
		
				<md-card class="card" ng-repeat="value in values">

			<md-card-content>
				<div class="track-img">
					<img src="/images/2.jpg" alt="">
				</div>

				<p class="title">{{value.name}}</p>
				<p class="author">{{value.name}}</p>
			</md-card-content>

			<md-content layout-padding layout-wrap>
				<div class=""></div>
			</md-content>
		</md-card>

	</div>

	<!-- footer -->
	<footer class="footer">
	</footer>

 	</md-card-content>
 </md-card>

<md-card class="player">
	<md-card-content>

	</md-card-content>
</md-card>

		
